<?xml version="1.0" encoding="UTF-8"?>
<!--

 Copyright (c)  Benedetto Marco Serinelli

 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 associated documentation files (the "Software"), to deal in the Software without restriction,
 including without limitation the rights to use, copy, modify, merge, publish, distribute,
 sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all copies or
 substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
 BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->
<!--
https://stackoverflow.com/questions/28092029/log4j2-configuration-xml-file-for-2-log-files-with-new-folder-each-run
https://howtodoinjava.com/log4j2/log4j-2-xml-configuration-example/
-->
<Configuration>
    <Appenders>
        <File name="Simple"
              fileName="app/${date:yyyy-MM-dd}/logSimple.log">
            <PatternLayout pattern="%d %p [%t] %m%n"/>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        <File name="Technical"
              fileName="app/${date:yyyy-MM-dd}/logTechnical.log">
            <PatternLayout pattern="%d %p [%t] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <logger name="org.apache.camel" level="INFO"/>
        <Root level="all">
            <AppenderRef ref="Simple"/>
            <AppenderRef ref="Technical"/>
        </Root>
    </Loggers>
</Configuration>